.main-container{
    position: absolute;
    top: 25%;
    left: 25%;
}
.container {
text-decoration: double;
position: relative;
align-items: center;
align-self: center;
}

.result {
    padding:auto;

}